#ia {
    display: grid;
    grid-template-columns: 696px 488px ;
    gap: 32px;

 header {
    
    border-top: 1px solid var(--stroke-color);
    justify-content: space-around;

    padding-top: 12px;
        div:nth-child(1) {
        /* border: 1px solid red; */
        margin-bottom: 24px;
          
    }
        div:nth-child(2) {
        border: 1px solid red;
        margin: 0 auto;
    
        
    }
 }
}