

#weekly {
   
    padding-block: 24px;
    gap: 16px;
    
   

    
    img {
        max-width: 100%;
        
    }
    figcaption {
        position: relative;
        position: top;
    }

    header {
        margin-block: 24px;
        border: 1px solid green;
        div:nth-child(2){
            border: 2px solid red;
        }
       
    }
}